body {
  font-family: $font-family-serif;
  color: $cv-color-font;
  background-color: $cv-bg;
}
header{
  margin:0vh;
  font-weight: bold;
  color: $cv-white-color-font;
  background-color: $header-footer-color;
  border-bottom: solid 3px;
  border-bottom-color: $header-border-color;
  @include for-tablet {
    margin:0.5vh;
    border-radius: 3%;
    }
}
footer{
  margin:0vh;
  background-color: $header-footer-color;
  @include for-tablet {
    margin:0.5vh;
    border-radius: 3%;
    }
}
.footer-div{
  padding: 2vh;
  text-align:center;
  &__autor{
    font-size: $cv-listadog-font-size;
    color: $cv-white-color-font;
  }
}
.datos-personales{
  display: grid;
  grid-template-columns: 100%;
  @include for-tablet {
    grid-template-columns: 40% 60%;
  }
  @include for-pc {
    grid-template-columns: 25% 75%;
  }
  &__imagen {
    display: block;
    width: 10.65em;
    height: auto;
    margin: auto;
  
  }
  &__listado{
    margin: 0.93em;
    font-size: $cv-listadop-font-size;
    list-style-type: none;
    @include for-tablet {
      font-size: $cv-header-font-size;
    }
  }  
}

.cv{
  display: grid;
  grid-template-columns: 100%;
  margin:0vh;
  @include for-tablet {
    grid-template-columns: 40% 60%;
    margin: 0.5vh;
  }
  @include for-pc {
    grid-template-columns: 25% 75%;
  }
}
.cv-especifico{
  margin-right:0vh;
  color: $cv-white-color-font;
  background-color: $especifico-bg-color;
  @include for-tablet {
    margin:0.5vh;
    border-radius: 3%;
    }
}
.datos-especificos{
  margin-top: 1vh;
  margin-left: 1vh;
  &__categoria{
    padding: $cv-default-pm;
    margin: $cv-default-pm;
    font-size: $cv-header-font-size;
    font-weight: bold;
    background-color: $especifico-categoria-color;
    border-bottom: solid 1px;
    border-bottom-color: $categoria-border-color;
    border-top-right-radius: 25%;
  }
  &__listado{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1vh;
    font-size: $cv-listadoe-font-size;
  }
  &__descripcion{
    margin: 1vh;
  }
  &__parrafo{
    margin: 1vh;
  }
  &__habilidad{
    font-weight: bold;
  }
  &__calificacion{
    color: $cv-calificacion-color;
  }
}

.cv-general{
  margin:0vh;
  background-color: $general-bg-color;
  @include for-tablet {
    margin:0.5vh;
    border-radius: 3%;
    }
}
.datos-generales{
  margin-top: 1vh;
  margin-left: 3vh;
  &__categoria{
    padding: $cv-default-pm;
    margin: $cv-default-pm;
    font-size: $cv-header-font-size;
    font-weight: bold;
    background-color: $general-categoria-color;
    border-bottom: solid 1px;
    border-bottom-color: $categoria-border-color;
    border-top-right-radius: 25%;
  }
  &__listado{
    margin: 1vh;
    font-size: $cv-listadog-font-size;
  }
  &__titulo{
    font-size: $cv-titulo-font-size;
    font-weight: bold;
    &--cursive{
      font-size: $cv-titulo-font-size;
      font-style:italic;
      font-weight: bold;
    }
  }
  &__descripcion{
    margin: $cv-header-font-size;
  }
  &__parrafo{
    font-size: $cv-listadog-font-size;
  }
}
