body {
  font-family: $font-family-serif;
  color: $cv-color-font;
  background-color: $cv-bg;
}
header{
  margin:0vh;
  font-weight: bold;
  color: $cv-white-color-font;
  background-color: $header-footer-color;
  border-bottom: solid 3px;
  border-bottom-color: $header-border-color;
  @include for-table {
    margin:0.5vh;
    border-radius: 3%;
    }
}
footer{
  margin:0vh;
  background-color: $header-footer-color;
  @include for-table {
    margin:0.5vh;
    border-radius: 3%;
    }
}
.footer-div{
  padding: 2vh;
  text-align:center;
}
.footer-div__autor{
  font-size: $cv-listadog-font-size;
  color: $cv-white-color-font;
}
.datos-personales{
  display: grid;
  grid-template-columns: 100%;
  @include for-table {
    grid-template-columns: 40% 60%;
    }
  @include for-pc {
    grid-template-columns: 25% 75%;
    }
}
.datos-personales__imagen {
  display: block;
  width: 10.65em;
  height: auto;
  margin: auto;

}
.datos-personales__listado{
  margin: 0.93em 0.93em 0.93em 0.93em;
  font-size: $cv-listadop-font-size;
  list-style-type: none;
  @include for-table {
    font-size: $cv-header-font-size;
  }
}

.cv{
  display: grid;
  grid-template-columns: 100%;
  margin:0vh;
  @include for-table {
    grid-template-columns: 40% 60%;
    margin: 0.5vh;
  }
  @include for-pc {
    grid-template-columns: 25% 75%;
  }
}
.cv-especifico{
  margin-right:0vh;
  color: $cv-white-color-font;
  background-color: $especifico-bg-color;
  @include for-table {
    margin:0.5vh;
    border-radius: 3%;
    }
}
.datos-especificos{
  margin-top: 1vh;
  margin-left: 1vh;
}
.datos-especificos__categoria{
  padding: $cv-default-pm;
  margin: $cv-default-pm;
  font-size: $cv-header-font-size;
  font-weight: bold;
  background-color: $especifico-categoria-color;
  border-bottom: solid 1px;
  border-bottom-color: $categoria-border-color;
  border-top-right-radius: 25%;
}
.datos-especificos__listado{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1vh;
  font-size: $cv-listadoe-font-size;
}
.datos-especificos__descripcion{
  margin: 1vh;
}
.datos-especificos__parrafo{
  margin: 1vh;
}
.datos-especificos__habilidad{
  font-weight: bold;
}
.datos-especificos__calificacion{
  color: $cv-calificacion-color;
}
.cv-general{
  margin:0vh;
  background-color: $general-bg-color;
  @include for-table {
    margin:0.5vh;
    border-radius: 3%;
    }
}
.datos-generales{
  margin-top: 1vh;
  margin-left: 3vh;
}
.datos-generales__categoria{
  padding: $cv-default-pm;
  margin: $cv-default-pm;
  font-size: $cv-header-font-size;
  font-weight: bold;
  background-color: $general-categoria-color;
  border-bottom: solid 1px;
  border-bottom-color: $categoria-border-color;
  border-top-right-radius: 25%;
}
.datos-generales__listado{
  margin: 1vh;
  font-size: $cv-listadog-font-size;
}
.datos-generales__titulo{
  font-size: $cv-titulo-font-size;
  font-weight: bold;
}
.datos-generales__descripcion{
  margin: $cv-header-font-size;
}
.datos-generales__parrafo{
  font-size: $cv-listadog-font-size;
}

