@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$cv-color-font: #3b3a3a;
$cv-white-color-font: #ffffff;
$cv-background-origin: #f7f7f7;
$cv-calificacion-color: #d9ff00;
$header-origin-color: #1e1d2e;
$header-border-color: #015586;
$especifico-bg-color:#3d5ff5;
$especifico-categoria-color:#444444;
$general-bg-color:#adfff8;
$general-categoria-color:#8adef3;
$categoria-border-color: #9baf9c;


$cv-bg: color.scale($cv-background-origin, $lightness: 40%);
$header-footer-color: transparentize($header-origin-color, 0.05);

$cv-header-font-size: 1.375em;
$cv-titulo-font-size: 1.25em;
$cv-listadop-font-size: 1.125em;
$cv-listadoe-font-size: 1em;
$cv-listadog-font-size: 0.875em;

$cv-default-pm: 0.625em;

